#!/bin/bash
set -e

# Run only on CryoSPARC master node
[ $(hostname) != {{ applications.cryosparc.master_hostname }} ] && exit 0

INSTALL_DIR=/anfhome/apps/cryosparc
SOURCES_DIR=${INSTALL_DIR}/sources

mkdir -p ${SOURCES_DIR}
cd ${SOURCES_DIR}

for COMPONENT in master worker; do
    if [ -s ${SOURCES_DIR}/cryosparc_${COMPONENT}.tar.gz ]; then
        echo "cryosparc_${COMPONENT}.tar.gz already downloaded"
    else
        echo "Downloading cryosparc_${COMPONENT}.tar.gz"
        curl -L https://get.cryosparc.com/download/${COMPONENT}-latest/{{ applications.cryosparc.license_id }} -o cryosparc_${COMPONENT}.tar.gz
    fi
done

chown -R {{ applications.cryosparc.admin_user }}: ${INSTALL_DIR}
