#!/bin/bash
set -e

export INSTALL_DIR=/anfhome/apps/cryosparc
SOURCES_DIR=${INSTALL_DIR}/sources

# connect worker nodes to the master
if [[ $(hostname) != {{ applications.cryosparc.master_hostname }} ]]; then
    sudo chmod 777 /mnt
    sudo su -c "$INSTALL_DIR/cryosparc_worker/bin/cryosparcw connect --worker $(hostname) \
    --master {{ applications.cryosparc.master_hostname }} \
    --port 39000 --ssdpath /mnt/" {{ applications.cryosparc.admin_user }}
fi

# Run only on CryoSPARC master node
[ $(hostname) != {{ applications.cryosparc.master_hostname }} ] && exit 0

###################################################
# Install CryoSPARC master locally on master node #
###################################################

# CryoSPARC master must be installed as admin user
sudo chown {{ applications.cryosparc.admin_user }} /cryosparc_data
sudo -i -u {{ applications.cryosparc.admin_user }} bash << EOF
cd /cryosparc_data
tar xzf ${SOURCES_DIR}/cryosparc_master.tar.gz
cd cryosparc_master
./install.sh --license {{ applications.cryosparc.license_id }} \
             --hostname $(hostname -f) \
             --dbpath /cryosparc_data/cryosparc_database \
             --port 39000 \
             --yes

# The service log target directory must be created manually
# otherwise the systemd service will fail to start (likely a bug)
mkdir -p /cryosparc_data/cryosparc_master/run
EOF

# Install CryoSPARC systemd service
eval $(/cryosparc_data/cryosparc_master/bin/cryosparcm env)
cd /cryosparc_data/cryosparc_master/systemd
env "CRYOSPARC_ROOT_DIR=$CRYOSPARC_ROOT_DIR" ./install_services.sh

systemctl enable cryosparc-supervisor.service
systemctl start cryosparc-supervisor.service

# Create admin user in CryoSPARC
sudo -i -u {{ applications.cryosparc.admin_user }} bash << EOF
eval $(/cryosparc_data/cryosparc_master/bin/cryosparcm env)
cryosparcm createuser --email {{ applications.cryosparc.admin_user }}@azhop.com \
                      --username {{ applications.cryosparc.admin_user }} \
                      --firstname Admin \
                      --lastname User \
                      --password {{ cryosparc_admin_pwd.stdout }}
EOF

#############################################################
# Install CryoSPARC worker on shared applications directory #
#############################################################

cd ${INSTALL_DIR}
tar xzf ${SOURCES_DIR}/cryosparc_worker.tar.gz
chown -R {{ applications.cryosparc.admin_user }}: ./cryosparc*_worker

# Get CUDA library path
LIBCUDART_PATH=$(sudo find /usr/local -name libcudart.so)
CUDA_PATH=$(echo $LIBCUDART_PATH | cut -d'/' -f-4)
export CUDA_PATH

# CryoSPARC must be installed as admin user
sudo -i -u {{ applications.cryosparc.admin_user }} bash << EOF
cd ${INSTALL_DIR}/cryosparc_worker
./install.sh --license {{ applications.cryosparc.license_id }} \
             --yes
EOF
