global_cc_storage             : ${cc_storage}
compute_subnetid              : ${compute_subnetid}
global_config_file            : ${config_file}
ad_join_user                  : ${admin_username}
domain_name                   : hpc.azure
ansible_ssh_private_key_file  : ${admin_username}_id_rsa
key_vault                     : ${key_vault}
jumpbox_ssh_port              : ${jumpbox-ssh-port}