global_ssh_public_key         : '${ssh_public_key}'
global_cc_storage             : ${cc_storage}
compute_subnetid              : ${compute_subnetid}
global_config_file            : ${config_file}
ad_dns                        : ${ad-ip}
ad_join_user                  : ${admin_username}
ad_join_domain                : hpc.azure
ansible_ssh_private_key_file  : ${admin_username}_id_rsa
key_vault                     : ${key_vault}
