{% if homedir == "anf" %}

resource anfAccount 'Microsoft.NetApp/netAppAccounts@2021-10-01' = {
  name: 'azhop-${resourcePostfix}'
  location: location
  
{%- if anf.dual_protocol == true %}
  properties: {
    activeDirectories: [
      {
        username: adminUser
        password: adminPassword
        dns: adNic.properties.ipConfigurations[0].properties.privateIPAddress
        smbServerName: 'anf'
        domain: 'hpc.azure' 
      }
    ]
  }
{%- endif %}
}

resource anfPool 'Microsoft.NetApp/netAppAccounts/capacityPools@2021-10-01' = {
  name: 'anfpool-${resourcePostfix}'
  location: location
  parent: anfAccount
  properties: {
    serviceLevel: '{{ anf.service_level }}'
    size: {{ anf.size_tb * 1024 * 1024 * 1024 * 1024 }}
  }
}

resource anfHome 'Microsoft.NetApp/netAppAccounts/capacityPools/volumes@2021-10-01' = {
  name: 'anfhome'
  location: location
  parent: anfPool
  properties: {
    creationToken: 'home-${resourcePostfix}'
    serviceLevel: '{{ anf.service_level }}'
    subnetId: netappSubnet.id
    protocolTypes: [
      'NFSv3'
{%- if anf.dual_protocol == true %}
      'CIFS'
{%- endif %}
    ]
    securityStyle: 'unix'
    usageThreshold: {{ anf.size_tb * 1024 * 1024 * 1024 * 1024 }}

    exportPolicy: {
      rules: [
        {
            ruleIndex: 1
            unixReadOnly: false
            unixReadWrite: true
            cifs: false
            nfsv3: true
            nfsv41: false
            allowedClients: '0.0.0.0/0'
            kerberos5ReadOnly: false
            kerberos5ReadWrite: false
            kerberos5iReadOnly: false
            kerberos5iReadWrite: false
            kerberos5pReadOnly: false
            kerberos5pReadWrite: false
            hasRootAccess: true
            chownMode: 'Restricted'
        }
      ]
    }
  }
}

output anf_account_name string = 'azhop-${resourcePostfix}'
output anf_pool_name string = 'anfpool-${resourcePostfix}'
output anf_volume_name string = 'anfhome'
output nfs_home_ip string = anfHome.properties.mountTargets[0].ipAddress
output nfs_home_path string = 'home-${resourcePostfix}'
output nfs_home_opts string = 'rw,hard,rsize=262144,wsize=262144,vers=3,tcp'

{% endif %}