{%- if queue_manager == "slurm" and slurm.accounting_enabled == true %}
resource mysql 'Microsoft.DBforMariaDB/servers@2018-06-01' = {
  name: 'azhop-${resourcePostfix}'
  location: location
  
  sku: {
    name: 'GP_Gen5_2'
  }
  properties: {
    minimalTlsVersion: 'TLS1_2'
    publicNetworkAccess: 'Enabled'
    sslEnforcement: 'Enabled'
    storageProfile: {
      backupRetentionDays: 21
      geoRedundantBackup: 'Disabled'
      storageAutogrow: 'Enabled'
      storageMB: 5120
    }
    version: '10.3'
    createMode: 'Default'
    administratorLogin: slurmAccountingAdminUser
    administratorLoginPassword: slurmAccountingAdminPassword
  }
}

resource mysqlAdmin 'Microsoft.DBforMariaDB/servers/virtualNetworkRules@2018-06-01' = {
  name: 'AllowAccessAdmin'
  parent: mysql
  properties: {
    virtualNetworkSubnetId: adminSubnet.id
  }
}

resource mysqlFrontend 'Microsoft.DBforMariaDB/servers/virtualNetworkRules@2018-06-01' = {
  name: 'AllowAccessFrontend'
  parent: mysql
  properties: {
    virtualNetworkSubnetId: frontendSubnet.id
  }
}

resource mysqlPasswordSecret 'Microsoft.KeyVault/vaults/secrets@2021-10-01' = {
  name: '${slurmAccountingAdminUser}-password'
  parent: kv
  properties: {
    value: slurmAccountingAdminPassword
  }
}

output mysql_fqdn string = reference(mysql.id, mysql.apiVersion, 'full').properties.fullyQualifiedDomainName

{%- endif %}
