resource virtualNetwork 'Microsoft.Network/virtualNetworks@2020-05-01' = {
  name: '{{ vnet.name }}'
  location: location
{%- if 'tags' in vnet %}
  tags: {
    {%- for tag, value in vnet.tags.items() %}
      '{{ tag }}': '{{ value }}'
    {%- endfor %}
  }
{%- endif %}
  properties: {
    addressSpace: {
      addressPrefixes: [
        '{{ vnet.cidr }}'
      ]
    }
    subnets: [
{%- for _, subnet in vnet.subnets.items() %}
      {
        name: '{{ subnet.name }}'
        properties: {
          addressPrefix: '{{ subnet.cidr }}'
  {%- if subnet.get('apply_nsg', true) == true %}
          networkSecurityGroup: {
            id: commonNsg.id
          }
  {%- endif %}
  {%- if 'delegation' in subnet %}
          delegations: [
            {
              name: '{{ subnet.name }}'
              properties: {
                serviceName: '{{ subnet.delegation }}'
              }
            }
          ]
  {%- endif %}
  {%- if 'service_endpoints' in subnet %}
          serviceEndpoints: [
    {%- for endpoint in subnet.service_endpoints %}
            {
              service: '{{ endpoint }}'
            }
    {%- endfor %}
          ]
  {%- endif %}
        }
      }
{%- endfor %}
    ]
  }
}
{%- for subnetName, subnet in vnet.subnets.items() %}
resource {{ subnetName }}Subnet 'Microsoft.Network/virtualNetworks/subnets@2020-05-01' existing = {
  parent: virtualNetwork
  name: '{{ subnet.name }}'
}
{%- endfor %}
