resource commonNsg 'Microsoft.Network/networkSecurityGroups@2020-06-01' = {
  name: 'nsg-common'
  location: location
  properties: {
    securityRules: [
{%- set _throwaway = _nsg_rules.update(bastion_nsg_rules) %}
{%- if vpn_gateway == true %}
  {%- set _throwaway = _nsg_rules.update(gateway_nsg_rules) %}
{%- endif %}
{%- for rule_name, rule in _nsg_rules.items() %}
      {
        name: '{{ rule_name}}'
        properties: {
          priority: {{ rule[0] }}
          direction: '{{ rule[1] }}'
          access: '{{ rule[2] }}'
          protocol: '{{ rule[3] }}'
          sourcePortRange: '*'
          destinationPortRanges: [
  {%- for port in nsg_destination_ports[rule[4]] %}
            '{{ port }}'
  {%- endfor %}
          ]

  {%- if rule[5].startswith('tag/') %}
          sourceAddressPrefix: '{{ rule[5].split('/')[1] }}'
  {%- endif %}
  {%- if rule[5].startswith('asg/') %}
          sourceApplicationSecurityGroups: [
            {
              id: {{ rule[5].split('/')[1] | replace('-', '_') }}.id
            }
          ]
  {%- endif %}
  {%- if rule[5].startswith('subnet/') %}
          sourceAddressPrefix: '{{ vnet.subnets[rule[5].split('/')[1]].cidr }}'
  {%- endif %}

  {%- if rule[6].startswith('tag/') %}
          destinationAddressPrefix: '{{ rule[6].split('/')[1] }}'
  {%- endif %}
  {%- if rule[6].startswith('asg/') %}
          destinationApplicationSecurityGroups: [
            {
              id: {{ rule[6].split('/')[1] | replace('-', '_') }}.id
            }
          ]
  {%- endif %}
  {%- if rule[6].startswith('subnet/') %}
          destinationAddressPrefix: '{{ vnet.subnets[rule[6].split('/')[1]].cidr }}'
  {%- endif %}
        }
      }
{%- endfor %}
    ]
  }
}
