@description('Admin user for the Virtual Machines.')
param adminUser string

@description('Home directory mountpoint on the VMs.')
param homedirMountpoint string = '/anfhome'

@description('SSH Public Key for the Virtual Machines.')
@secure()
param adminSshPublicKey string

@description('SSH Private Key for the Virtual Machines.')
@secure()
param adminSshPrivateKey string

@description('The Windows/Active Directory password.')
@secure()
param adminPassword string

@description('Azure region to use')
param location string = resourceGroup().location

// end with a character (x) - requirement for shared image gallery
var resourcePostfix = '${uniqueString(subscription().subscriptionId, resourceGroup().id)}x'

{%- if queue_manager == "slurm" and slurm.accounting_enabled == true %}
@description('Slurm accounting admin user')
param slurmAccountingAdminUser string = 'sqladmin'

@description('Password for the Slurm accounting admin user')
@secure()
param slurmAccountingAdminPassword string
{%- endif %}

@description('Branch of the azhop repo to pull - Default to main')
param branchName string = 'main'
