resource adminPasswordSecret 'Microsoft.KeyVault/vaults/secrets@2021-10-01' = {
  name: '${adminUser}-password'
  parent: kv
  properties: {
    value: adminPassword
  }
}

resource adminSshPublicKeySecret 'Microsoft.KeyVault/vaults/secrets@2021-10-01' = {
  name: '${adminUser}-pubkey'
  parent: kv
  properties: {
    value: adminSshPublicKey
  }
}

resource adminSshPrivateKeySecret 'Microsoft.KeyVault/vaults/secrets@2021-10-01' = {
  name: '${adminUser}-privkey'
  parent: kv
  properties: {
    value: adminSshPrivateKey
  }
}
