global_ssh_public_key         : '${ssh_public_key}'
global_cc_storage             : ${cc_storage}
compute_subnetid              : ${compute_subnetid}
global_config_file            : ${config_file}
ad_join_user                  : ${domain_join_user}
domain_name                   : ${domain-name}
ldap_server                   : ${ldap-server}
anf_home_ip                   : ${anf-home-ip}
homedir_mountpoint            : ${homedir_mountpoint}
anf_home_path                 : ${anf-home-path}
anf_home_opts                 : ${homedir_options}
ondemand_fqdn                 : ${ondemand-fqdn}
ansible_ssh_private_key_file  : ${admin_username}_id_rsa
subscription_id               : ${subscription_id}
tenant_id                     : ${tenant_id}
key_vault                     : ${key_vault}
sig_name                      : ${sig_name}
lustre_hsm_storage_account    : ${lustre_hsm_storage_account}
lustre_hsm_storage_container  : ${lustre_hsm_storage_container}
database_fqdn                 : ${database-fqdn}
database_user                 : ${database-user}
azure_environment             : ${azure_environment}
key_vault_suffix              : ${key_vault_suffix}
blob_storage_suffix           : ${blob_storage_suffix}
jumpbox_ssh_port              : ${jumpbox-ssh-port}
dns_ruleset_name              : ${dns-ruleset-name}
