global_ssh_public_key         : '${ssh_public_key}'
global_cc_storage             : ${cc_storage}
global_config_file            : ${config_file}
ad_dns                        : ${ad-ip}
ad_join_user                  : ${admin_username}
ad_join_domain                : hpc.azure
anf_home_ip                   : ${ anf-home-ip }
anf_home_path                 : ${ anf-home-path }
ondemand_fqdn                 : ${ ondemand-fqdn }
ansible_ssh_private_key_file  : ${admin_username}_id_rsa
subscription_id               : ${subscription_id}
tenant_id                     : ${tenant_id}
key_vault                     : ${key_vault}
sig_name                      : ${sig_name}
lustre_hsm_storage_account    : ${ lustre_hsm_storage_account }
lustre_hsm_storage_container  : ${ lustre_hsm_storage_container }
aad_app_id                    : __AAD_APP_ID__