all:
  hosts:
    jumpbox:
      rhel7cis_openldap_clients_required: true
      rhel7cis_rule_5_3_20: false # Don't disable SSH AllowTcpForwarding
    scheduler:
      rhel7cis_openldap_clients_required: true
    ondemand:
      rhel7cis_httpd_server: true
      rhel7cis_openldap_clients_required: true
    grafana:
      rhel7cis_openldap_clients_required: true
    robinhood:
      rhel7cis_httpd_server: true
    lustre:
      rhel7cis_rule_4_1_11: false # This is failing on lustre => find: '/mnt/mgsmds': Not a directory
%{ for count in range(lustre-oss-count) }
    lustre-oss-${count}:
      rhel7cis_rule_1_5_2: false # failing on OSS
      rhel7cis_rule_4_1_11: false # This is failing on lustre => find: '/mnt/oss': Not a directory
%{ endfor }
    ccportal:
