all:
  hosts:
    jumpbox:
      rhel7cis_openldap_clients_required: true
    scheduler:
      rhel7cis_openldap_clients_required: true
    ondemand:
      rhel7cis_httpd_server: true
      rhel7cis_openldap_clients_required: true
    grafana:
      rhel7cis_openldap_clients_required: true
    robinhood:
      rhel7cis_httpd_server: true
    lustre:
      rhel7cis_rule_4_1_11: false # This is failing on lustre => find: '/mnt/mgsmds': Not a directory
%{ for count in range(lustre-oss-count) }
    lustre-oss-${count}:
      rhel7cis_rule_1_5_2: false # failing on OSS
      rhel7cis_rule_4_1_11: false # This is failing on lustre => find: '/mnt/oss': Not a directory
%{ endfor }
    ccportal:
  vars:
    setup_audit: true
    run_audit: true
    rhel7cis_selinux_disable: true
    rhel7cis_firewall: firewalld # This will avoid running rules 3.5.2 for nftables and 3.5.3.1.x for iptables
    # RHEL-07-4.2.1.4/4.2.1.5 remote and destation log server name
    rhel7cis_remote_log_server: 

#    rhel7cis_rule_1_1_6: false
#    rhel7cis_rule_1_1_11: false
#    rhel7cis_rule_1_1_19: false
#    rhel7cis_rule_1_1_20: false
#    rhel7cis_rule_1_1_21: false
#    rhel7cis_rule_1_1_22: false
#    rhel7cis_rule_1_1_23: false
#    rhel7cis_rule_1_1_24: false
#    rhel7cis_rule_1_2_1: false
#    rhel7cis_rule_1_2_2: false
#    rhel7cis_rule_1_2_3: false
#    rhel7cis_rule_1_2_4: false
#    rhel7cis_rule_1_2_5: false
#    rhel7cis_rule_1_4_1: false
#    rhel7cis_rule_1_4_3: false
#    rhel7cis_rule_1_5_4: false
    # rhel7cis_rule_1_6_1_6: false
    # rhel7cis_rule_1_6_1_7: false
    # rhel7cis_rule_1_6_1_8: false
    # rhel7cis_rule_1_7_1: false
    # rhel7cis_rule_1_7_4: false
    # rhel7cis_rule_1_7_5: false
    # rhel7cis_rule_1_7_6: false
    # rhel7cis_rule_1_8_1: false
    # rhel7cis_rule_1_8_2: false
    # rhel7cis_rule_1_8_3: false
    # rhel7cis_rule_1_8_4: false
    # rhel7cis_rule_1_9: false

#    rhel7cis_rule_2_1_1: false
    # rhel7cis_rule_2_2_1_1: false
    # rhel7cis_rule_2_2_1_3: false
    # rhel7cis_rule_2_2_2: true
    # rhel7cis_rule_2_2_3: false
    # rhel7cis_rule_2_2_4: false
    # rhel7cis_rule_2_2_5: false
    # rhel7cis_rule_2_2_6: false
    # rhel7cis_rule_2_2_7: false
    # rhel7cis_rule_2_2_8: false
    # rhel7cis_rule_2_2_9: false
    # rhel7cis_rule_2_2_10: false
    # rhel7cis_rule_2_2_11: false
    # rhel7cis_rule_2_2_12: false
    # rhel7cis_rule_2_2_13: false
    # rhel7cis_rule_2_2_14: false
    # rhel7cis_rule_2_2_15: false
    # rhel7cis_rule_2_2_16: false
    # rhel7cis_rule_2_2_17: false
    # rhel7cis_rule_2_2_18: false
    # rhel7cis_rule_2_2_19: false
    # rhel7cis_rule_2_3_1: false
    # rhel7cis_rule_2_3_2: false
    # rhel7cis_rule_2_3_3: false
    # rhel7cis_rule_2_3_5: false # ldap-clients
    # rhel7cis_rule_2_4: false

    # rhel7cis_rule_3_1_1: false
    # rhel7cis_rule_3_1_2: false
    # rhel7cis_rule_3_4_1: false
    # rhel7cis_rule_3_4_2: false

    rhel7cis_rule_3_5_1_4: false # Ensure firewalld service is enabled and running
    rhel7cis_rule_3_5_1_5: false
    rhel7cis_rule_3_5_1_6: false
    rhel7cis_rule_3_5_1_7: false

    # rhel7cis_rule_5_1_8: false
    
    rhel7cis_rule_5_3_4: false # Ensure SSH access is limited
    rhel7cis_rule_5_3_8: false
    rhel7cis_rule_5_3_9: false
    rhel7cis_rule_5_3_10: false
    #rhel7cis_rule_5_3_11: false
    rhel7cis_rule_5_3_12: false
    rhel7cis_rule_5_3_16: false
    rhel7cis_rule_5_3_17: false
    rhel7cis_rule_5_3_19: false
    rhel7cis_rule_5_3_20: false # Ensure SSH AllowTcpForwarding is disabled
    rhel7cis_rule_5_3_21: false # Ensure SSH MaxStartups is configured
    rhel7cis_rule_5_3_22: false

    # rhel7cis_rule_5_5_3: false
    # rhel7cis_rule_5_5_4: false

    # rhel7cis_rule_5_6: false

    # rhel7cis_rule_6_1_1: false
    # rhel7cis_rule_6_1_10: false
    # rhel7cis_rule_6_1_11: false
    # rhel7cis_rule_6_1_12: false
    # rhel7cis_rule_6_1_13: false
    # rhel7cis_rule_6_1_14: false

