all:
  hosts:
    localhost:
%{ if jumpbox-pip!="0.0.0.0" }
      psrp_ssh_proxy: ${jumpbox-pip}
    jumpbox:
      ansible_host: ${jumpbox-pip}
      ansible_ssh_port: ${jumpbox-ssh-port}
      ansible_ssh_common_args:
%{ endif }
    scheduler:
      ansible_host: ${scheduler-ip}
    ondemand:
      ansible_host: ${ondemand-ip}
    ccportal:
      ansible_host: ${ccportal-ip}
%{ if grafana-ip!="0.0.0.0" }
    grafana:
      ansible_host: ${grafana-ip}
%{ endif }
%{ if ad-ip!="0.0.0.0" }
    ad:
      ansible_host: ${ad-ip}
      ansible_connection: psrp
      ansible_psrp_protocol: http
      ansible_user: ${admin-user}
      ansible_password: "${ad-passwd}"
%{ if jumpbox-pip!="0.0.0.0" }
      psrp_ssh_proxy: ${jumpbox-pip}
      ansible_psrp_proxy: socks5h://localhost:5985
%{ endif }
    ad2:
      ansible_host: ${ad2-ip}
      ansible_connection: psrp
      ansible_psrp_protocol: http
      ansible_user: ${admin-user}
      ansible_password: "${ad-passwd}"
%{ if jumpbox-pip!="0.0.0.0" }
      psrp_ssh_proxy: ${jumpbox-pip}
      ansible_psrp_proxy: socks5h://localhost:5985
%{ endif }
%{ endif }
  vars:
    ansible_ssh_user: ${admin-user}
%{ if jumpbox-pip!="0.0.0.0" }
    ansible_ssh_common_args: '-o ProxyCommand="ssh -i ${admin-user}_id_rsa -p ${jumpbox-ssh-port} -W %h:%p ${admin-user}@${jumpbox-pip}"'
%{ endif }
