all:
  hosts:
    jumpbox:
      rhel7cis_openldap_clients_required: true
      rhel7cis_rule_5_3_20: false # Don't disable SSH AllowTcpForwarding
    scheduler:
      rhel7cis_openldap_clients_required: true
    ondemand:
      rhel7cis_httpd_server: true
      rhel7cis_openldap_clients_required: true
      rhel7cis_xwindows_required: true
    grafana:
      rhel7cis_openldap_clients_required: true
      rhel7cis_xwindows_required: true
    ccportal:
