MpiDefault=none
ProctrackType=proctrack/cgroup
ReturnToService=2
PropagateResourceLimits=NONE
SlurmctldPidFile=/var/run/slurmctld.pid
SlurmdPidFile=/var/run/slurmd.pid
SlurmdSpoolDir=/var/spool/slurmd
SlurmUser=slurm
StateSaveLocation=/var/spool/slurmd
SwitchType=switch/none
TaskPlugin=task/affinity,task/cgroup
SchedulerType=sched/backfill
SelectType=select/cons_tres
GresTypes=gpu
SelectTypeParameters=CR_Core_Memory
ClusterName={{ slurm_cluster_name }}
SlurmctldHost={{ scheduler.name | default("scheduler") }}
SlurmctldDebug=debug
SlurmctldLogFile=/var/log/slurmctld/slurmctld.log
SlurmctldParameters=idle_on_node_suspend
SlurmdDebug=debug
SlurmdLogFile=/var/log/slurmd/slurmd.log
TopologyPlugin=topology/tree
JobSubmitPlugins=lua
HealthCheckProgram=/usr/sbin/nhc
HealthCheckInterval=300
HealthCheckNodeState=IDLE
PrivateData=cloud
TreeWidth=65533
ResumeTimeout=1800
SuspendTimeout={{autoscale.idle_timeout | default(900)}}
SuspendTime={{autoscale.idle_timeout | default(900)}}
ResumeProgram=/opt/cycle/slurm/resume_program.sh
ResumeFailProgram=/opt/cycle/slurm/resume_fail_program.sh
SuspendProgram=/opt/cycle/slurm/suspend_program.sh
SchedulerParameters=max_switch_wait=24:00:00
{% if accounting_enabled %}
JobAcctGatherType=jobacct_gather/linux
AccountingStorageType=accounting_storage/slurmdbd
AccountingStorageHost={{ scheduler.name | default("scheduler") }}
{% else %}
AccountingStorageType=accounting_storage/none
JobAcctGatherType=jobacct_gather/none
{% endif %}
SrunPortRange=59000-61000
Include cyclecloud.conf
Prolog=/sched/scripts/prolog.sh
PrologFlags=Alloc
Epilog=/sched/scripts/epilog.sh
