---

- name: Install dependencies
  yum:
    name: python3, nfs-utils, jq
    lock_timeout : 180

# This is to workaround an issue on name resolution with PBS
- name: Add scheduler IP in /etc/hosts
  lineinfile:
    path: /etc/hosts
    line: "{{ansible_facts['default_ipv4']['address']}} {{ansible_facts['hostname']}}"

- name: Download pbspro 
  unarchive:
    src: https://github.com/PBSPro/pbspro/releases/download/v{{openpbs_version}}/pbspro_{{openpbs_version}}.centos7.zip
    dest: /mnt/resource
    remote_src: yes

- name: Install pbspro
  yum:
    name: 
      - /mnt/resource/pbspro_{{openpbs_version}}.centos7/pbspro-server-{{openpbs_version}}-0.x86_64.rpm
    state: present
    lock_timeout : 180

- name: Ensure pbs-server is running.
  service: 
    name: pbs
    state: started
    enabled: yes

- name: check if cyclecloud-pbspro-pkg-{{cyclecloud_pbspro}}.tar.gz file exists
  stat: 
    path: /tmp/cyclecloud-pbspro/cyclecloud-pbspro-pkg-{{cyclecloud_pbspro}}.tar.gz
  register: pbs_cycle_package

- name: check if /tmp/cyclecloud-pbspro/packages exists
  stat: 
    path: /tmp/cyclecloud-pbspro/packages
  register: packages

- name: remove old packages directory if a new version is applied
  file:
    path: /tmp/cyclecloud-pbspro/packages
    state: absent
  when: packages.stat.exists == True and pbs_cycle_package.stat.exists == False

- name: download CycleCloud ScaleLib PBSPro  
  unarchive: 
    src: "https://github.com/Azure/cyclecloud-pbspro/releases/download/{{cyclecloud_pbspro}}/cyclecloud-pbspro-pkg-{{cyclecloud_pbspro}}.tar.gz"
    dest: /tmp/
    remote_src: yes

- name: enable CycleCloud ScaleLib PBSPro
  shell: | 
    /tmp/cyclecloud-pbspro/initialize_pbs.sh 
    /tmp/cyclecloud-pbspro/initialize_default_queues.sh
    /tmp/cyclecloud-pbspro/install.sh  --venv /opt/cycle/pbspro/venv --install-venv
    /tmp/cyclecloud-pbspro/generate_autoscale_json.sh  --install-dir /opt/cycle/pbspro --username {{ cc_admin }} --password "{{ cc_password }}" --url https://ccportal:9443/cyclecloud --cluster-name pbs1
  args:
    chdir: /tmp/cyclecloud-pbspro

- name: change node timeout, default to 15mn
  shell: |
    jq '.idle_timeout={{autoscale.idle_timeout | default(900) }}' autoscale.json > tmp_autoscale.json || exit 1
    cp tmp_autoscale.json autoscale.json
    sed -i 's/pcpu_count/vcpu_count/g' autoscale.json
    jq '.' autoscale.json || exit 1
    rm tmp_autoscale.json
  args:
    chdir: /opt/cycle/pbspro

- name: Add logging.conf
  copy:
    src: '{{role_path}}/files/logging.conf'
    dest: /opt/cycle/pbspro/logging.conf

- name: Add doqmgr pbs configuration script
  copy:
    src: '{{role_path}}/files/doqmgr.sh'
    dest: /var/spool/pbs/doqmgr.sh
    mode: '0755'
    
- name: Add pbs sched_config
  copy:
    src: '{{role_path}}/files/sched_config'
    dest: /var/spool/pbs/sched_priv/sched_config

- name: activate pbs config
  shell: /var/spool/pbs/doqmgr.sh 

- name: Add submission hook
  copy:
    src: '{{role_path}}/files/submit-hook.py'
    dest: /opt/cycle/pbspro/submit-hook.py

- name: Register submission hook
  shell: |
    /opt/pbs/bin/qmgr -c "create hook submit"
    /opt/pbs/bin/qmgr -c "import hook submit application/x-python default submit-hook.py"
    /opt/pbs/bin/qmgr -c "set hook submit event = queuejob"
  args:
    chdir: /opt/cycle/pbspro

- name: Restart pbs-server 
  service: 
    name: pbs
    state: restarted

- name: create cron entry to remove old accounting files
  cron:
    name: "remove PBS accounting files older than 90 days"
    special_time: daily
    job: "find /var/spool/pbs/server_logs -mtime +90 -type f -print -exec rm {} +"
