num_threads=16
az_storage_suffix="{{ blob_storage_suffix }}"
az_storage_account="{{ lustre_hsm_storage_account }}"
az_kv_name="{{ key_vault }}"
az_kv_suffix="{{ key_vault_suffix }}"
az_kv_secret_name="lustre-{{ lustre_hsm_storage_account }}-{{ lustre_hsm_storage_container }}-sas"
region="{{ location }}"
bandwidth=0
exportprefix=""
archive "archive1" {
    id=1
    num_threads=16
    root=""
    compression="off"
    container="{{ lustre_hsm_storage_container }}"
    region="{{ location }}"
}
