
<form id="<%= form_id %>" action="/rnode/ondemand/8080/guacamole/#/client/<%= client_id %>" method="get" target="_blank">
  <button class="btn btn-primary" type="submit">
    Launch Windows Desktop
  </button>
</form>
