#!/bin/bash
script_dir="$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )"
source "$script_dir/../files/azhop-helpers.sh" 
read_os

find $script_dir/../files -name "*.sh" -exec chmod +x {} \;
$script_dir/../files/$os_release/installpbs.sh {{cyclecloud_openbps_release}} {{openpbs_version}}

echo "Configuring PBS"

sed -i 's/CHANGE_THIS_TO_PBS_PRO_SERVER_HOSTNAME/{{scheduler.name | default("scheduler")}}/' /etc/pbs.conf
sed -i 's/CHANGE_THIS_TO_PBS_PRO_SERVER_HOSTNAME/{{scheduler.name | default("scheduler")}}/' /var/spool/pbs/mom_priv/config
sed -i "s/^if /#if /g" /opt/pbs/lib/init.d/limits.pbs_mom
sed -i "s/^fi/#fi /g" /opt/pbs/lib/init.d/limits.pbs_mom

# for version 20 and above
sed -i 's/CHANGE_THIS_TO_PBS_SERVER_HOSTNAME/{{scheduler.name | default("scheduler")}}/' /etc/pbs.conf

systemctl restart pbs || exit 1
echo "PBS Restarted"
