#!/bin/bash

# Exit if Enroot is not in the image
[ -d /etc/enroot ] || exit 0

# Use local temporary disk for enroot
cat <<EOF > /etc/enroot/enroot.conf
ENROOT_RUNTIME_PATH /run/enroot/user-\$(id -u)
ENROOT_CACHE_PATH {{ enroot_scratch_dir }}/enroot-cache/user-\$(id -u)
ENROOT_DATA_PATH {{ enroot_scratch_dir }}/enroot-data/user-\$(id -u)
ENROOT_TEMP_PATH {{ enroot_scratch_dir }}/enroot-temp
ENROOT_SQUASH_OPTIONS -noI -noD -noF -noX -no-duplicates
ENROOT_MOUNT_HOME y
ENROOT_RESTRICT_DEV y
ENROOT_ROOTFS_WRITABLE y
MELLANOX_VISIBLE_DEVICES all
EOF

# Install extra hooks for PMIx
cp -fv /usr/share/enroot/hooks.d/50-slurm-pmi.sh /usr/share/enroot/hooks.d/50-slurm-pytorch.sh /etc/enroot/hooks.d

[ -d /etc/sysconfig ] || mkdir -pv /etc/sysconfig
# Add variables for PMIx
sed -i '/EnvironmentFile/a Environment=PMIX_MCA_ptl=^usock PMIX_MCA_psec=none PMIX_SYSTEM_TMPDIR=/var/empty PMIX_MCA_gds=hash HWLOC_COMPONENTS=-opencl' /usr/lib/systemd/system/slurmd.service
systemctl daemon-reload
