{
  "var_subscription_id": "${subscription_id}",
  "var_resource_group": "${resource_group}",
  "var_location": "${location}",
  "var_sig_name": "${sig_name}",
  "var_private_virtual_network_with_public_ip": "${private_virtual_network_with_public_ip}",
  "var_virtual_network_name": "${virtual_network_name}",
  "var_virtual_network_subnet_name": "${virtual_network_subnet_name}",
  "var_virtual_network_resource_group_name": "${virtual_network_resource_group_name}",
  "var_ssh_bastion_host": "${ssh_bastion_host}",
  "var_ssh_bastion_port": "${ssh_bastion_port}",
  "var_ssh_bastion_username": "${ssh_bastion_username}",
  "var_ssh_bastion_private_key_file": "${ssh_bastion_private_key_file}",
  "var_queue_manager": "${queue_manager}"
}