# NHC Configuration File
#
# Lines are in the form "<hostmask>||<check>"
# Hostmask is a glob, /regexp/, or {noderange}
# Comments begin with '#'
#

#######################################################################
###
### NHC Configuration Variables
###
# * || export MARK_OFFLINE=1 NHC_CHECK_ALL=0
 * || export OFFLINE_NODE=/usr/libexec/nhc/azhop-node-offline.sh
 * || export TIMEOUT=300
 * || export VERBOSE=1
 * || export DETACHED_MODE=0
 * || export NHC_RM={{queue_manager | default(openpbs) }}

### Check that node has been renamed correctly
 * || HOSTNAME="$HOSTNAME_S"

#######################################################################
###
### Filesystem checks
###
###
 * || check_fs_mount_rw -f "{{mounts.home.mountpoint}}"
 * || check_fs_used {{mounts.home.mountpoint}} 90%
 * || check_fs_iused {{mounts.home.mountpoint}} 98%
 * || check_file_test -d /tmp/scratch
 * || check_cmd_output -r 0 touch /tmp/scratch/nhctest

{% if ( lustre.create | default(false) ) %}
 * || check_fs_mount_rw -t "lustre" -f "/lustre"
 * || check_fs_used /lustre 90%
 * || check_fs_iused /lustre 98%
{% endif %}
 
{% if queue_manager == "slurm" and queue_manager is defined %}
 * || check_fs_mount_rw -s "*:**" -f "/sched"
 * || check_fs_used /sched 90%
 * || check_fs_iused /sched 98%
{% endif %}

#######################################################################
###
### Process checks
###
### Note: PBS and SLURM daemons will be started after the healthcheck is triggered
{% if queue_manager == "openpbs" or queue_manager is not defined %}
{% endif %}

{% if queue_manager == "slurm" and queue_manager is defined %}
{% endif %}

# Not present on Alma and Ubuntu
# * || check_ps_service -S -u root crond
# * || check_ps_service -r -d qmgr postfix
# * || check_ps_service -S -u root sshd
 * || check_ps_service -S -0 -u telegraf telegraf
 * || check_ps_service -s -0 -u root azsecd

#######################################################################
###
### Check AD services and domain join
###
{% if ( authentication.user_auth is not defined or authentication.user_auth == "ad" ) %}
 * || check_ps_service -S -u root sssd_be
 * || check_ps_service -S -u root sssd_nss
 * || check_ps_service -S -u root sssd_pam
 * || check_cmd_output -r 0 -m '/active-directory/' realm list
{% endif %}


#######################################################################
###
### End of NHC_COMMON
###
#######################################################################
