[global_tags]
  sku = "__SKU__"
  physical_hostname = "__PHYS_HOST__"
  node_array = "__ARRAY__"
  
[agent]
  interval = "10s"
  round_interval = true
  metric_batch_size = 1000
  metric_buffer_limit = 10000
  collection_jitter = "0s"
  flush_interval = "10s"
  flush_jitter = "0s"
  precision = ""
  hostname =  ""
  ## If set to true, do no set the "host" tag in the telegraf agent.
  omit_hostname = false
  ## Run telegraf in debug mode
  debug = false
  ## Run telegraf in quiet mode
  quiet = false

[[outputs.influxdb]]
  urls = [ "{{ telegraf_influxdb_urls|join('","') }}" ]
  database = "{{influxdb_database_name}}"
  username = "{{cc_admin_user}}"
  password = "{{cc_password}}"

[[inputs.cpu]]
  percpu = true
  totalcpu = true
  collect_cpu_time = false
  report_active = false

[[inputs.disk]]
  ignore_fs = ["tmpfs", "devtmpfs", "devfs", "iso9660", "overlay", "aufs", "squashfs"]

[[inputs.diskio]]
[[inputs.mem]]
[[inputs.processes]]
[[inputs.system]]
[[inputs.net]]
  interfaces = ["eth0"]
  ignore_protocol_stats = true
