#!/bin/bash
script_dir="$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )"
source "$script_dir/../files/azhop-helpers.sh" 
read_os

find $script_dir/../files -name "*.sh" -exec chmod +x {} \;

$script_dir/../files/$os_release/init_mountnfs.sh

{% for mount in mounts %}
mkdir -p {{mounts[mount].mountpoint}}
echo "mount {{ mounts[mount].server }}:/{{ mounts[mount].export }} {{mounts[mount].mountpoint}}"
mount -t nfs -o {{ mounts[mount].options | default("rw,hard,rsize=262144,wsize=262144,vers=3,tcp,_netdev",true) }} {{ mounts[mount].server }}:/{{ mounts[mount].export }} {{mounts[mount].mountpoint}} || exit 1
{% endfor %}
