#!/bin/bash

lustre_vm=lustre
lustre_mount=/lustre

success=0
for retry in {1..10} ; do
    if ! modprobe lustre; then
        echo "Unable to mount lustre. Retrying..."
        sleep 5
    else
        success=1
        break
    fi
done

if [ $success -eq 0 ]; then
    echo "ERROR Unable to mount lustre"
    exit 1
fi

mkdir $lustre_mount
echo "${lustre_vm}@tcp0:/LustreFS $lustre_mount lustre flock,defaults,_netdev 0 0" >> /etc/fstab
mount -a
chmod 777 $lustre_mount
