#!/bin/bash

lustre_vm=lustre
lustre_mount=/lustre

if ! modprobe lustre; then
    echo "Unable to mount lustre"
    # silently fail here
    exit 0
fi

mkdir $lustre_mount
echo "${lustre_vm}@tcp0:/LustreFS $lustre_mount lustre flock,defaults,_netdev 0 0" >> /etc/fstab
mount -a
chmod 777 $lustre_mount
