netsh interface ipv4 set dns name="Ethernet" static {{ ad_dns }}
netsh interface ipv4 add dns name="Ethernet" 168.63.129.16 index=2

netsh interface ipv4 set dns name="Ethernet 2" static {{ ad_dns }}
netsh interface ipv4 add dns name="Ethernet 2" 168.63.129.16 index=2

Powershell.exe -executionpolicy remotesigned try { $password = ConvertTo-SecureString "{{ cc_password | replace("%", "%%")}}" -asPlainText -Force; $credential = New-Object System.Management.Automation.PSCredential('{{ ad_join_domain }}\{{ ad_join_user }}',$password); Add-Computer -DomainName '{{ ad_join_domain }}' -Credential $credential } catch { exit 255 }

if %ERRORLEVEL% neq 0 ( 
   exit 1
)

:: C:\cycle\jetpack\bin\jetpack log "Successfully join domain {{ ad_join_domain }}"

schtasks /create /tn "azhop-configuration" /sc onstart /ru system /tr "%~dp0\..\files\windows\4-configure-rdp.bat"

shutdown /r /f /t 0 /c "Reboot after domain join"
