netsh interface ipv4 set dns name="Ethernet" static {{ ad_dns }}
netsh interface ipv4 add dns name="Ethernet" 168.63.129.16 index=2

netsh interface ipv4 set dns name="Ethernet 2" static {{ ad_dns }}
netsh interface ipv4 add dns name="Ethernet 2" 168.63.129.16 index=2

Powershell.exe -executionpolicy remotesigned try { $password = ConvertTo-SecureString "{{ cc_password | replace("%", "%%")}}" -asPlainText -Force; $credential = New-Object System.Management.Automation.PSCredential('{{ ad_join_domain }}\{{ ad_join_user }}',$password); Add-Computer -DomainName '{{ ad_join_domain }}' -Credential $credential } catch { exit 255 }

if %ERRORLEVEL% neq 0 ( 
   exit 1
)

reg add "HKLM\System\CurrentControlSet\Control\Terminal Server" /v fDenyTSConnections /t REG_DWORD /d 0 /f
netsh advfirewall firewall add rule name="allow RemoteDesktop" dir=in protocol=TCP localport=3389 action=allow

Powershell.exe -executionpolicy remotesigned try { Add-LocalGroupMember -Group "Remote Desktop Users" -Member "HPC\Domain Users" } catch { exit 255 }

if %ERRORLEVEL% neq 0 ( 
   exit 1
)

shutdown /r /f /t 1
