#!/bin/bash
script_dir="$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )"
source "$script_dir/../files/azhop-helpers.sh" 
read_os

{% for group in usergroups %}
groupadd -f -g {{ group.gid }} "{{ group.name }}"
{% endfor %}

{% for user in users %}
useradd -u {{ user.uid }} {{ user.name }} -G "{{ (usergroups | selectattr('gid', 'eq', 5000) | map(attribute='name'))[0] | default('azhop-users', true) }}" -b {{ mounts.home.mountpoint }} -s {{user.shell | default('/bin/bash')}}
grouplist="{{ usergroups | selectattr('gid', 'in', (user.groups | default([], true))) | map(attribute='name') | join(',') }}"
if [ "$grouplist" != "" ]; then
  usermod -a -G $grouplist {{ user.name }}
fi
grouplist=
{% endfor %}
