all:
  hosts:
    localhost:
      psrp_ssh_proxy: ${jumpbox-pip}
    jumpbox:
      ansible_host: ${jumpbox-pip}
      ansible_ssh_user: ${jumpbox-user}
    scheduler:
      ansible_host: ${scheduler-ip}
      ansible_ssh_user: ${scheduler-user}
      ansible_ssh_common_args: '-o ProxyCommand="ssh -i ${jumpbox-user}_id_rsa -W %h:%p ${jumpbox-user}@${jumpbox-pip}"'
    ondemand:
      ansible_host: ${ondemand-pip}
      ansible_ssh_user: ${ondemand-user}
    ccportal:
      ansible_host: ${ccportal-ip}
      ansible_ssh_user: ${ondemand-user}
      ansible_ssh_common_args: '-o ProxyCommand="ssh -i ${jumpbox-user}_id_rsa -W %h:%p ${jumpbox-user}@${jumpbox-pip}"'
    grafana:
      ansible_host: ${grafana-ip}
      ansible_ssh_user: ${ondemand-user}
      ansible_ssh_common_args: '-o ProxyCommand="ssh -i ${jumpbox-user}_id_rsa -W %h:%p ${jumpbox-user}@${jumpbox-pip}"'
    ad:
      ansible_host: ${ad-ip}
      ansible_connection: psrp
      ansible_psrp_protocol: http
      ansible_user: ${jumpbox-user}
      ansible_password: "${ad-passwd}"
      ansible_psrp_proxy: socks5h://localhost:5985
    win:
      ansible_host: ${win-ip}
      ansible_connection: psrp
      ansible_psrp_protocol: http
      ansible_user: ${jumpbox-user}
      ansible_password: "${ad-passwd}"
      ansible_psrp_proxy: socks5h://localhost:5985
    lustre:
      ansible_host: lustre
      ansible_ssh_user: ${lustre-user}
      ansible_ssh_common_args: '-o ProxyCommand="ssh -i ${jumpbox-user}_id_rsa -W %h:%p ${jumpbox-user}@${jumpbox-pip}"'
%{ for count in range(lustre-oss-count) }
    lustre-oss-${count}:
      ansible_host: lustre-oss-${count}
      ansible_ssh_user: ${lustre-user}
      ansible_ssh_common_args: '-o ProxyCommand="ssh -i ${jumpbox-user}_id_rsa -W %h:%p ${jumpbox-user}@${jumpbox-pip}"'
%{ endfor }
    robinhood:
      ansible_host: robinhood
      ansible_ssh_user: ${lustre-user}
      ansible_ssh_common_args: '-o ProxyCommand="ssh -i ${jumpbox-user}_id_rsa -W %h:%p ${jumpbox-user}@${jumpbox-pip}"'
