---
location: __LOCATION__
resource_group: __RESOURCE_GROUP__
use_existing_rg: false
tags:
  env: dev
  project: azhop
  scheduler: __SCHEDULER__
# Define an ANF account, single pool and volume
# If not present assume that there is an existing NFS share for the users home directory
anf:
  # Size of the ANF pool and unique volume
  homefs_size_tb: 4
  # Service level of the ANF volume, can be: Standard, Premium, Ultra
  homefs_service_level: Standard
  # dual protocol
  dual_protocol: __ANF_DUAL__ # true to enable SMB support. false by default

mounts:
  # mount settings for the user home directory
  home:
    mountpoint: /anfhome # /sharedhome for example
    server: '{{anf_home_ip}}' # Specify an existing NFS server name or IP, when using the ANF built in use '{{anf_home_ip}}'
    export: '{{anf_home_path}}' # Specify an existing NFS export directory, when using the ANF built in use '{{anf_home_path}}'

admin_user: hpcadmin
key_vault_readers: 0bf2513b-59fe-4018-bfd6-5d4844a9a3b9

network:
  # Create Network and Application Security Rules, true by default, false when using an existing VNET if not specified
  create_nsg: true
  vnet:
    name: hpcvnet # Optional - default to hpcvnet
    id: # If a vnet id is set then no network will be created and the provided vnet will be used
    address_space: "10.128.0.0/24" # Optional - default to "10.0.0.0/16"
    # When using an existing VNET, only the subnet names will be used and not the adress_prefixes
    subnets: # all subnets are optionals
    # name values can be used to rename the default to specific names, address_prefixes to change the IP ranges to be used
    # All values below are the default values
      frontend: 
        name: frontend
        address_prefixes: "10.128.0.0/29"
        create: true # create the subnet if true. default to true when not specified, default to false if using an existing VNET when not specified
      ad:
        name: ad
        address_prefixes: "10.128.0.8/29"
        create: true
      admin:
        name: admin
        address_prefixes: "10.128.0.16/28"
        create: true
      netapp:
        name: netapp
        address_prefixes: "10.128.0.32/29"
        create: true
      # gateway: # Gateway subnet name is always fixed to GatewaySubnet
      #   address_prefixes: "10.128.0.48/28" # Recommendation is to use /27 or /28 network
      #   create: true
      # bastion: # Bastion subnet name is always fixed to AzureBastionSubnet
      #   address_prefixes: "10.128.0.64/27" # CIDR minimal range must be /27
      #   create: true
      compute:
        name: compute
        address_prefixes: "10.128.0.128/25"
        create: true
  peering: # This list is optional, and can be used to create VNet Peerings in the same subscription.
    - vnet_name: "azhop_hub" #"VNET Name to Peer to"
      vnet_resource_group: "azhop_control_plane_westeurope" #"Resource Group of the VNET to peer to"

# When working in a locked down network, uncomment and fill out this section
locked_down_network:
  enforce: false
#   grant_access_from: [a.b.c.d] # Array of CIDR to grant access from, see https://docs.microsoft.com/en-us/azure/storage/common/storage-network-security?tabs=azure-portal#grant-access-from-an-internet-ip-range
  public_ip: false # Enable public IP creation for Jumpbox, OnDemand and create images. Default to true

# Base image configuration. Can be either an image reference or an image_id from the image registry or a custom managed image
linux_base_image: "OpenLogic:CentOS:7_9-gen2:latest" # publisher:offer:sku:version or image_id
windows_base_image: "MicrosoftWindowsServer:WindowsServer:2016-Datacenter-smalldisk:latest" # publisher:offer:sku:version or image_id

jumpbox:
  vm_size: Standard_B2ms
  ssh_port: 8822 # SSH port used on the public IP, default to 22
ad:
  vm_size: Standard_B2ms
ondemand:
  vm_size: Standard_D8s_v5
  generate_certificate: true
grafana:
  vm_size: Standard_B2ms
scheduler:
  vm_size: Standard_B2ms
cyclecloud:
  vm_size: Standard_B2ms

users:
  - { name: hpcuser,   uid: 10001 }
  - { name: adminuser, uid: 10002, groups: [5001, 5002] }
  - { name: john.john,   uid: 10003 }

usergroups:
  - name: Domain Users # All users will be added to this one by default
    gid: 5000
  - name: az-hop-admins # For users with azhop admin privilege
    gid: 5001
    description: "For users with azhop admin privileges"
  - name: az-hop-localadmins # For users with sudo right on nodes
    gid: 5002
    description: "For users with sudo right or local admin right on nodes"


# Enable cvmfs-eessi - disabled by default
cvmfs_eessi:
  enabled: true

# scheduler to be installed and configured
queue_manager: __SCHEDULER__

# Specific SLURM configuration
slurm:
  # Enable SLURM accounting, this will create a SLURM accounting database in a managed MySQL server instance
  accounting_enabled: true
  # Enable container support for SLURM using Enroot/Pyxis (global switch)
  # Each queue with container support must have its own enroot_enabled switch set to true
  enroot_enabled: true

# Authentication configuration for accessing the az-hop portal
# Default is basic authentication. For oidc authentication you have to specify the following values
# The OIDCClient secret need to be stored as a secret named <oidc-client-id>-password in the keyvault used by az-hop
authentication:
  httpd_auth: basic # oidc or basic
  # User mapping https://osc.github.io/ood-documentation/latest/reference/files/ood-portal-yml.html#ood-portal-generator-user-map-match
  # You can specify either a map_match or a user_map_cmd
  # Domain users are mapped to az-hop users with the same name and without the domain name
  # user_map_match: '^([^@]+)@mydomain.foo$'
  # If using a custom mapping script, update it from the ./playbooks/files directory before running the playbook
  # user_map_cmd: /opt/ood/ood_auth_map/bin/custom_mapping.sh
  # ood_auth_openidc:
  #   OIDCProviderMetadataURL: # for AAD use 'https://sts.windows.net/{{tenant_id}}/.well-known/openid-configuration'
  #   OIDCClientID: 'XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX'
  #   OIDCRemoteUserClaim: # for AAD use 'upn'
  #   OIDCScope: # for AAD use 'openid profile email groups'
  #   OIDCPassIDTokenAs: # for AAD use 'serialized'
  #   OIDCPassRefreshToken: # for AAD use 'On'
  #   OIDCPassClaimsAs: # for AAD use 'environment'

images:
  - name: azhop-almalinux85-v2-rdma-gpgpu
    publisher: azhop
    offer: almalinux
    sku: 8_5-hpc-gen2
    hyper_v: V2
    os_type: Linux
    version: 8.5
  - name: azhop-centos79-v2-rdma-gpgpu
    publisher: azhop
    offer: CentOS
    sku: 7.9-gen2
    hyper_v: V2
    os_type: Linux
    version: 7.9
  - name: azhop-centos79-desktop3d
    publisher: azhop
    offer: CentOS
    sku: 7.9-gen2-desktop3d
    hyper_v: V2
    os_type: Linux
    version: 7.9
  - name: azhop-ubuntu18.04
    publisher: azhop
    offer: Ubuntu
    sku: 10_04
    hyper_v: V2
    os_type: Linux
    version: 18.04
  - name: azhop-win10
    publisher: azhop
    offer: Windows-10
    sku: 21h1-pron
    hyper_v: V1
    os_type: Windows
    version: 10.19043
queues:
  - name: execute
    vm_size: Standard_F2s_v2
    max_core_count: 1024
    image: /subscriptions/{{subscription_id}}/resourceGroups/{{resource_group}}/providers/Microsoft.Compute/galleries/{{sig_name}}/images/azhop-centos79-v2-rdma-gpgpu/latest
    spot: false
  - name: hc44rs
    vm_size: Standard_HC44rs
    max_core_count: 1056
    image: /subscriptions/{{subscription_id}}/resourceGroups/{{resource_group}}/providers/Microsoft.Compute/galleries/{{sig_name}}/images/azhop-centos79-v2-rdma-gpgpu/latest
    spot: true
  - name: hb60rs
    vm_size: Standard_HB60rs
    max_core_count: 1440
    image: /subscriptions/{{subscription_id}}/resourceGroups/{{resource_group}}/providers/Microsoft.Compute/galleries/{{sig_name}}/images/azhop-centos79-v2-rdma-gpgpu/latest
    spot: true
  - name: hb120v2
    vm_size: Standard_HB120rs_v2
    max_core_count: 2880
    image: /subscriptions/{{subscription_id}}/resourceGroups/{{resource_group}}/providers/Microsoft.Compute/galleries/{{sig_name}}/images/azhop-centos79-v2-rdma-gpgpu/latest
    spot: true
  - name: hb120v3
    vm_size: Standard_HB120rs_v3
    max_core_count: 2880
    image: /subscriptions/{{subscription_id}}/resourceGroups/{{resource_group}}/providers/Microsoft.Compute/galleries/{{sig_name}}/images/azhop-centos79-v2-rdma-gpgpu/latest
    spot: true
  - name: hb120v3al
    vm_size: Standard_HB120rs_v3
    max_core_count: 2880
    image: /subscriptions/{{subscription_id}}/resourceGroups/{{resource_group}}/providers/Microsoft.Compute/galleries/{{sig_name}}/images/azhop-almalinux85-v2-rdma-gpgpu/latest
    plan: almalinux:almalinux-hpc:8_5-hpc-gen2
    spot: true
  - name: hbv3u18
    vm_size: Standard_HB120rs_v3
    max_core_count: 2880
    image: /subscriptions/{{subscription_id}}/resourceGroups/{{resource_group}}/providers/Microsoft.Compute/galleries/{{sig_name}}/images/azhop-ubuntu18.04/latest
    spot: true
  - name: viz3d
    vm_size: Standard_NV12s_v3
    max_core_count: 48
    image: /subscriptions/{{subscription_id}}/resourceGroups/{{resource_group}}/providers/Microsoft.Compute/galleries/{{sig_name}}/images/azhop-centos79-desktop3d/latest
    ColocateNodes: false
    spot: false
  - name: viz
    vm_size: Standard_D8a_v4
    max_core_count: 200
    image: /subscriptions/{{subscription_id}}/resourceGroups/{{resource_group}}/providers/Microsoft.Compute/galleries/{{sig_name}}/images/azhop-centos79-desktop3d/latest
    ColocateNodes: false
    spot: false
  - name: nc24v3
    vm_size: Standard_NC24rs_v3
    max_core_count: 96
    image: /subscriptions/{{subscription_id}}/resourceGroups/{{resource_group}}/providers/Microsoft.Compute/galleries/{{sig_name}}/images/azhop-centos79-v2-rdma-gpgpu/latest
  - name: largeviz3d
    vm_size: Standard_NV48s_v3
    max_core_count: 96
    image: /subscriptions/{{subscription_id}}/resourceGroups/{{resource_group}}/providers/Microsoft.Compute/galleries/{{sig_name}}/images/azhop-centos79-desktop3d/latest
    ColocateNodes: false
    spot: false

# Remote Visualization definitions
enable_remote_winviz: true # Set to true to enable windows remote visualization

remoteviz:
  - name: winviz # This name is fixed and can't be changed
    vm_size: Standard_NV12s_v3 # Standard_NV8as_v4
    max_core_count: 48
    image: "MicrosoftWindowsDesktop:Windows-10:21h1-pron:latest"
    ColocateNodes: false
    spot: false
