global_ssh_public_key         : {{ssh_public_key}}
global_cc_storage             : azhop{{outputs.resource_postfix}}
compute_subnetid              : {{outputs.resource_group}}/{{build.vnet.name}}/{{build.vnet.subnets.compute.name}}
global_config_file            : {{azhop_root}}/config.yml
ad_dns                        : {{outputs.ad_private_ip}}
ad_join_user                  : {{outputs.admin_user}}
ad_join_domain                : hpc.azure
ldap_server                   : ad
homedir_mountpoint            : /anfhome
anf_home_ip                   : {{outputs.nfs_home_ip}}
anf_home_path                 : {{outputs.nfs_home_path}}
ondemand_fqdn                 : {{outputs.ondemand_private_ip}}
ansible_ssh_private_key_file  : {{outputs.admin_user}}_id_rsa
subscription_id               : {{outputs.subscription_id}}
tenant_id                     : {{outputs.tenant_id}}
key_vault                     : kv{{outputs.resource_postfix}}
sig_name                      : azhop_{{outputs.resource_postfix}}
lustre_hsm_storage_account    : azhop{{outputs.resource_postfix}}
lustre_hsm_storage_container  : lustre
slurmdb_fqdn                  : {{outputs.mysql_fqdn}}
slurmdb_user                  : {{outputs.slurm_admin_user}}
azure_environment             : AZUREPUBLICCLOUD
key_vault_suffix              : vault.azure.net
blob_storage_suffix           : blob.core.windows.net
jumpbox_ssh_port              : 22

