AdType = "AuthenticatedUser"
Name =  "{{ user.name }}"
Authentication = "internal"
{% if (usergroups | selectattr('gid', 'in', (user.groups | default([], true))) | selectattr('name', 'match', 'azhop-admins') | map(attribute='name') | count ) > 0 %}
Roles = {"Administrator"}
Superuser = true
{% else %}
Roles = {"User"}
Superuser = false
{% endif %}
UID = {{ user.uid }}
RawPassword = "{{password.stdout}}"
