{
  "MaxExecuteCoreCount" : 100,
  "UsePublicNetwork" : false,
  "serverMachineType" : "Standard_D8as_v4",
  "AdditionalNAS" : false,
  "AdditionalNFSMountOptions" : null,
  "About shared" : null,
  "SubnetId" : "{{ global_resource_group }}/hpcvnet/compute",
  "PBSVersion" : "20.0.1-0",
  "Region" : "{{ global_region }}",
  "Additional NFS Mount Readme" : null,
  "NumberLoginNodes" : 0,
  "AdditionalNFSExportPath" : "/data",
  "FilesystemSize" : 100,
  "ExecuteMachineType" : "Standard_F2s_v2",
  "AdditionalNFSMountPoint" : "/data",
  "NFSSharedMountOptions" : null,
  "ExecuteClusterInitSpecs" : {
    "pbs:default:1.0.0" : {
      "Order" : 10000,
      "Name" : "pbs:default:1.0.0",
      "Spec" : "default",
      "Project" : "pbs",
      "Version" : "1.0.0",
      "Locker" : "azure-storage"
    }
  },
  "ReturnProxy" : false,
  "Credentials" : "azure",
  "Autoscale" : true,
  "NFSAddress" : null,
  "NFSSharedExportPath" : "/shared",
  "UseLowPrio" : false,
  "NFSType" : "Builtin",
  "serverClusterInitSpecs" : null,
  "AdditonalNFSAddress" : null,
  "pbspro" : null,
  "SchedulerImageName" : "cycle.image.centos7",
  "ImageName" : "cycle.image.centos7",
  "ExecuteNodesPublic" : false
}
