{
  "ExecuteClusterInitSpecs" : {
    "pbs:default:1.0.0" : {
      "Order" : 10000,
      "Name" : "pbs:default:1.0.0",
      "Spec" : "default",
      "Project" : "pbs",
      "Version" : "1.0.0",
      "Locker" : "azure-storage"
    }
  },
  "Credentials" : "azure",
  "ImageName" : "OpenLogic:CentOS-HPC:7.7:latest"
}
