
################################
## Cluster Configuration File ##
################################

[cluster OpenPBS-headless]
FormLayout = selectionpanel
Category = Azure HPC OnDemand Platform 

Autoscale = true

    [[node defaults]]
    UsePublicNetwork = false
    Credentials = $Credentials    
    ImageName = $ImageName
    SubnetId = {{ cc_subnetid }}
    Region = {{ cc_region }}
    KeyPairLocation = ~/.ssh/cyclecloud.pem
    
        [[[configuration]]]
        cyclecloud.converge_on_boot = true

        # Disable normal NFS exports and mounts
        cyclecloud.mounts.sched.disabled = true
        cyclecloud.mounts.shared.disabled = true
        cyclecloud.exports.sched.disabled = true
        cyclecloud.exports.shared.disabled = true
        cyclecloud.exports.sched.samba.enabled = false
        cyclecloud.exports.shared.samba.enabled = false
        cyclecloud.exports.defaults.samba.enabled = false      
        cshared.server.legacy_links_disabled = true
        EnableAcceleratedNetworking = false

{% for queue in cc_queues %}
    [[nodearray {{ queue.name }}]]
    MachineType = {{ queue.vm_size }} 
    MaxCoreCount = {{ queue.max_core_count }}
    Interruptible = false
    ImageName = {{ queue.image }}
    AdditionalClusterInitSpecs = $ExecuteClusterInitSpecs
        [[[configuration]]]
        pbspro.slot_type = {{ queue.name }}
        EnableAcceleratedNetworking = {{ queue.EnableAcceleratedNetworking }}
{% endfor %}

[parameters Advanced Settings]
Order = 20

    [[parameters Azure Settings]]
    Order = 10 

        [[[parameter Credentials]]]
        Description = The credentials for the cloud provider
        ParameterType = Cloud.Credentials

        [[[parameter ImageName]]]
        Label = Compute OS
        ParameterType = Cloud.Image
        Config.OS = linux
        DefaultValue = cycle.image.centos8
        Config.Filter := Package in {"cycle.image.centos7", "cycle.image.centos8"}

   
        [[[parameter ExecuteClusterInitSpecs]]]
        Label = Execute Cluster-Init
        DefaultValue = =undefined
        Description = Cluster init specs to apply to execute nodes
        ParameterType = Cloud.ClusterInitSpecs

