
################################
## Cluster Configuration File ##
################################

[cluster azhop-remoteviz]
FormLayout = selectionpanel
Category = Azure HPC OnDemand Platform 

Autoscale = true

    [[node defaults]]
    UsePublicNetwork = false
    Credentials = azure
    ImageName = MicrosoftWindowsDesktop:Windows-10:21h1-pron:latest
    SubnetId = {{ cc_subnetid }}
    Region = {{ cc_region }}
    KeyPairLocation = ~/.ssh/cyclecloud.pem
    EnableAcceleratedNetworking = false
    Interruptible = false

        [[[configuration]]]
        keepalive.timeout = 3600 # The amount of time in seconds to keep a node "alive" if it has not finished installing/configuring software.
        cyclecloud.converge_on_boot = true
        # False => This is to avoid hostnames to be renamed ip-XXXXXXXX
        cyclecloud.hosts.standalone_dns.enabled = false
        #cyclecloud.dns.domain = {{domain_name}}

        # Disable normal NFS exports and mounts
        cyclecloud.mounts.sched.disabled = true
        cyclecloud.mounts.shared.disabled = true
        cyclecloud.exports.sched.disabled = true
        cyclecloud.exports.shared.disabled = true
        cyclecloud.exports.sched.samba.enabled = false
        cyclecloud.exports.shared.samba.enabled = false
        cyclecloud.exports.defaults.samba.enabled = false
        cshared.server.legacy_links_disabled = true

        [[[volume boot]]] 
        StorageAccountType = StandardSSD_LRS

        [[[cluster-init common:default:1.0.0]]]

{% for queue in cc_remoteviz %}
    [[nodearray {{ queue.name }}]]
    MachineType = {{ queue.vm_size }} 
    MaxCoreCount = {{ queue.max_core_count }}
  {% if queue.EnableAcceleratedNetworking is defined %}
    EnableAcceleratedNetworking = {{ queue.EnableAcceleratedNetworking }}
  {% endif %}
  {% if queue.spot is defined %}
    Interruptible = {{queue.spot}}
  {% endif %}
    Azure.MaxScaleSetSize = {{ queue.MaxScaleSetSize | default(100) }}
    # Lookup image version for that queue
  {% if cc_image_lookup is iterable and queue.name in cc_image_lookup %}
    ImageName = {{ cc_image_lookup[queue.name] }}
  {% else %}
    ImageName = {{ queue.image }}
  {% endif %}
{% endfor %}
