---
- name: prep socks tunnel
  hosts: localhost
  connection: local
  gather_facts: no
  vars_files:
    - '{{global_config_file}}'

  tasks:
  - name: start socks tunnel  
    shell: ssh -i {{ lookup('env', 'PWD') }}/{{ansible_ssh_private_key_file}} -fN -D localhost:5985 -p {{jumpbox_ssh_port}} -o StrictHostKeyChecking=no {{admin_user}}@{{ psrp_ssh_proxy }}
    when: (jumpbox is defined)

- name: Add domain users
  hosts: ad
  vars_files:
    - '{{global_config_file}}'

  tasks:
  - name: Update azhop groups gidnumber
    community.windows.win_domain_group:
      name: '{{item.name}}'
      state: present
      description: '{{item.description | default("az-hop group - item.name")}}'
      scope: domainlocal
      attributes:
        gidnumber: '{{item.gid}}'
    loop: "{{usergroups  | selectattr('gid', 'ge', 5001) }}"

  - include: create_user.yml user="{{item}}"
    with_items: '{{users}}'
    when: users is defined

- name: close socks tunnel
  hosts: localhost
  connection: local
  gather_facts: no
  tasks:
  - name: close session on local port
    shell: ps aux | grep localhost:5985 | grep -v grep | awk '{print "kill -9 " $2}' | sh
    ignore_errors: true
    when: (jumpbox is defined)

- name: Configure Users
  hosts: ondemand
  become: true
  vars_files:
    - '{{global_config_file}}'

  tasks:
  - include: init_user.yml user="{{item}}"
    with_items: '{{users}}'
    when: users is defined

- name: Configure users in CycleCloud
  hosts: ccportal
  become: true
  vars_files:
    - '{{global_config_file}}'

  tasks:
  - name: Add users
    template:
      src: user_record.txt.j2
      dest: /opt/cycle_server/config/data/user_record.txt
