---
- name: prep socks tunnel
  hosts: localhost
  connection: local
  gather_facts: no
  vars_files:
    - '{{global_config_file}}'

  tasks:
  - name: start socks tunnel
    shell: |
      ps aux | grep localhost:5985 | grep -v grep | awk '{print "kill -9 " $2}' | sh
      ssh -i {{ lookup('env', 'PWD') }}/{{ansible_ssh_private_key_file}} -fN -D localhost:5985 -p {{jumpbox_ssh_port}} -o StrictHostKeyChecking=no {{admin_user}}@{{ psrp_ssh_proxy }}
    when: (jumpbox is defined)

- name: Add azhop-users
  hosts: ad
  vars_files:
    - '{{global_config_file}}'

  tasks:
  - include: create_user.yml user="{{item}}"
    with_items: '{{users}}'
    when: users is defined

- name: close socks tunnel
  hosts: localhost
  connection: local
  gather_facts: no
  tasks:
  - name: close session on local port
    shell: ps aux | grep localhost:5985 | grep -v grep | awk '{print "kill -9 " $2}' | sh
    ignore_errors: true
    when: (jumpbox is defined)

# - name: Configure Users
#   hosts: ondemand
#   become: true
#   vars_files:
#     - '{{global_config_file}}'

# No longer needed as now user env is initialize thru the PUN hook script
  # tasks:
  # - include: init_user.yml user="{{item}}"
  #   with_items: '{{users}}'
  #   when: users is defined

- name: Configure users in CycleCloud
  hosts: ccportal
  become: true
  vars_files:
    - '{{global_config_file}}'

  tasks:
  - name: Add users
    template:
      src: user_record.txt.j2
      dest: /opt/cycle_server/config/data/user_record.txt
