---
# This looks crazy but in order for this playbook to run from a pipeline, the jumpbox dummy need to be added
- name: deployer dummy
  hosts: deployer
  become: true

- name: Setup Cycle Cloud
  hosts: ccportal
  become: true
  gather_facts: no
  vars_files:
    - '{{global_config_file}}'

  tasks:
  - name: Wait 300 seconds for the nodes to be ready
    wait_for_connection:
      timeout: 300
  - name: Gather facts for first time
    setup:

  - name: Read Password from KV
    command: az keyvault secret show --vault-name {{key_vault}} -n {{admin_user}}-password --query "value" -o tsv
    delegate_to: localhost
    connection: local
    register: password
    become: false

  - include_role: 
      name: cyclecloud
      apply: 
        become: true
    vars:
      cc_admin_user: '{{admin_user}}'
      cc_public_key: '{{global_ssh_public_key}}'
      cc_password: '{{password.stdout}}'
      cc_storage: '{{global_cc_storage}}'
      cc_domain: '{{ad_join_domain}}'
      cc_ad_server: '{{ldap_server}}'
      cc_version: '{{cyclecloud.version | default("8.2.2-1902")}}'
