# This looks crazy but in order for this playbook to run from a pipeline, the jumpbox dummy need to be added, otherwise there is an unable to connect message
- name: deployer dummy
  hosts: deployer
  become: true

- hosts: ondemand
  gather_facts: no
  become: true
  vars_files:
    - '{{global_config_file}}'
  vars:
    tomcat_version: 9.0.64
    guac_version: 1.4.0

  tasks:
  - name: Install Guacamole server only if required
    block:

    - name: Wait 300 seconds for the nodes to be ready
      wait_for_connection:
        timeout: 300
    - name: Gather facts for first time
      setup:

    - name: Install Required dependencies
      yum:
        name: python3, cairo-devel, libjpeg-turbo-devel, libpng-devel, libtool, uuid-devel

    - name: Install Optional dependencies
      yum:
        name: libwebsockets-devel, terminus-fonts, terminus-fonts-console, freerdp-devel, libvorbis-devel, libwebp-devel, pulseaudio-libs-devel, libvncserver-devel, pango-devel, openssl-devel, libssh2-devel, dejavu-sans-mono-fonts.noarch

    - name: Creates /opt/guacamole directory
      file:
        path: /opt/guacamole
        state: directory

    - name: Download guacamole server
      unarchive:
        src: https://downloads.apache.org/guacamole/{{guac_version}}/source/guacamole-server-{{guac_version}}.tar.gz
        dest: /opt/guacamole
        remote_src: yes

    # https://guacamole.apache.org/releases/{{guac_version}}/
    - name: Download guacamole extensions
      unarchive:
        src: https://downloads.apache.org/guacamole/{{guac_version}}/binary/{{item}}
        dest: /opt/guacamole
        remote_src: yes
      with_items:
        - guacamole-auth-ldap-{{guac_version}}.tar.gz
        - guacamole-auth-quickconnect-{{guac_version}}.tar.gz
        - guacamole-auth-jdbc-{{guac_version}}.tar.gz
        - guacamole-auth-header-{{guac_version}}.tar.gz # Used to be fixed 1.2.0 when using 1.3.0

    - name: Build guacamole server
      shell: |
        ./configure --with-init-dir=/etc/init.d
        make
        make install
        ldconfig
      args:
        chdir: /opt/guacamole/guacamole-server-{{guac_version}}
        creates: /usr/local/sbin/guacd

    - name: reload systemd
      command: systemctl daemon-reload

    - name: start guacd
      service:
        name: guacd
        state: started
        enabled: yes

    - name: Install JDK
      yum:
        name: java-1.8.0-openjdk-devel

    - name: add tomcat group
      group:
        name: tomcat
        state: present

    - name: add tomcat user
      user:
        comment: 'User to run tomcat'
        name: tomcat
        group: tomcat
        home: /opt/tomcat
        shell: /bin/false
        state: present

    - name: Make sure we have the latest root certificates
      yum:
        name: ca-certificates
        state: latest

    - name: Download tomcat
      unarchive:
        src: https://archive.apache.org/dist/tomcat/tomcat-9/v{{tomcat_version}}/bin/apache-tomcat-{{tomcat_version}}.tar.gz
        dest: /opt/tomcat
        owner: tomcat
        group: tomcat
        mode: 0755
        remote_src: yes

    - name: Create a symbolic link for tomcat/latest
      file:
        src: /opt/tomcat/apache-tomcat-{{tomcat_version}}
        dest: /opt/tomcat/latest
        owner: tomcat
        group: tomcat
        state: link

    - name: Set execute permissions on tomcat
      shell: chmod +x /opt/tomcat/latest/bin/*.sh

    - name: Create a systemd unit file
      copy:
        dest: /etc/systemd/system/tomcat.service
        content: |
            [Unit]
            Description=Tomcat 9 servlet container
            After=network.target

            [Service]
            Type=forking

            User=tomcat
            Group=tomcat

            Environment="JAVA_HOME=/usr/lib/jvm/jre"
            Environment="JAVA_OPTS=-Djava.security.egd=file:///dev/urandom"

            Environment="CATALINA_BASE=/opt/tomcat/latest"
            Environment="CATALINA_HOME=/opt/tomcat/latest"
            Environment="CATALINA_PID=/opt/tomcat/latest/temp/tomcat.pid"
            Environment="CATALINA_OPTS=-Xms512M -Xmx1024M -server -XX:+UseParallelGC"

            ExecStart=/opt/tomcat/latest/bin/startup.sh
            ExecStop=/opt/tomcat/latest/bin/shutdown.sh

            [Install]
            WantedBy=multi-user.target

    - name: reload systemd
      command: systemctl daemon-reload

    - name: start tomcat
      service:
        name: tomcat
        state: started
        enabled: yes

    - name: Creates /etc/guacamole directory
      file:
        path: /etc/guacamole
        state: directory

    - name: Download guacamole client
      get_url:
        url: https://downloads.apache.org/guacamole/{{guac_version}}/binary/guacamole-{{guac_version}}.war
        dest: /etc/guacamole/guacamole.war

    - name: Create a symbolic link for guacamole client
      file:
        src: /etc/guacamole/guacamole.war
        dest: /opt/tomcat/latest/webapps/guacamole.war
        state: link

    - name: Creates guacamole configuration directories
      file:
        path: /etc/guacamole/{{item}}
        state: directory
      with_items:
        - lib
        - extensions

    - name: Copy extensions libraries
      copy:
        src: /opt/guacamole/{{item}}
        dest: /etc/guacamole/extensions/
        remote_src: yes
      with_items:
        - guacamole-auth-ldap-{{guac_version}}/guacamole-auth-ldap-{{guac_version}}.jar
        - guacamole-auth-jdbc-{{guac_version}}/mysql/guacamole-auth-jdbc-mysql-{{guac_version}}.jar
        #- guacamole-auth-quickconnect-1.3.0/guacamole-auth-quickconnect-1.3.0.jar

    # Install 8.0.26 because starting on Oct-1 2021, 8.0.27 doesn't allow connecting so a single server managed MySql instance
    - name: download mysql80-community
      get_url:
        url: 'https://dev.mysql.com/get/mysql80-community-release-el7-4.noarch.rpm'
        dest: /etc/guacamole/
    - name: Install mysql80-community RPM
      shell: rpm -Uvh --force /etc/guacamole/mysql80-community-release-el7-4.noarch.rpm
    - name: Install MySQL CLI 8.0.26
      yum:
        name:
          - mysql-community-libs-8.0.26
          - mysql-community-client-plugins-8.0.26
          - mysql-community-client-8.0.26
          - mysql-community-common-8.0.26
          - mysql-community-libs-compat-8.0.26
        state: present
    - name: download certificate
      get_url:
        url: 'https://www.digicert.com/CACerts/BaltimoreCyberTrustRoot.crt.pem'
        dest: /etc/guacamole/BaltimoreCyberTrustRoot.crt.pem
        mode: 0644
    - name: Install MySQL Java Connector
      yum: 
        name: https://downloads.mysql.com/archives/get/p/3/file/mysql-connector-java-8.0.26-1.el7.noarch.rpm
        state: present
    
    - name: Create a symbolic link for the mysql java connector
      file:
        src: /usr/share/java/mysql-connector-java.jar
        dest: /etc/guacamole/lib/mysql-connector-java.jar
        state: link

    - name: Read SQLAdmin Password from KV
      command: az keyvault secret show --vault-name {{key_vault}} -n {{ slurmdb_user }}-password --query "value" -o tsv
      delegate_to: localhost
      connection: local
      register: sqladmin_password
      become: false
      run_once: true

    - name: Configure MySQL access
      copy:
        dest: /root/.my.cnf
        content: |
          [client]
          user = {{ slurmdb_user }}@{{ slurmdb_fqdn }}
          password = {{sqladmin_password.stdout}}
          host = {{slurmdb_fqdn}}

    # TODO : Check if the DB exists before calling this
    - name: Create guacamole database
      shell: |
        set -e
        set -o pipefail
        mysql <<EOF
        create database guacamole_db;
        EOF
        cat /opt/guacamole/guacamole-auth-jdbc-{{guac_version}}/mysql/schema/*.sql | mysql guacamole_db
        touch /etc/guacamole/guacamole_db.created
      args:
        creates: /etc/guacamole/guacamole_db.created

    - name: Read Password from KV
      command: az keyvault secret show --vault-name {{key_vault}} -n {{admin_user}}-password --query "value" -o tsv
      delegate_to: localhost
      connection: local
      register: admin_password
      become: false
      run_once: true

    - name: configure guacamole
      copy:
        dest: /etc/guacamole/guacamole.properties
        content: |
          guacd-hostname: localhost
          guacd-port:     4822
          ldap-hostname: {{ad_dns}}
          ldap-search-bind-dn: cn={{admin_user}},cn=Users,dc=hpc,dc=azure
          ldap-search-bind-password: {{admin_password.stdout}}
          ldap-user-base-dn: dc=hpc,dc=azure
          ldap-username-attribute: sAMAccountName
          ldap-user-search-filter: (|(objectCategory=CN=Person,CN=Schema,CN=Configuration,DC=hpc,DC=azure))

          mysql-hostname: {{slurmdb_fqdn}}
          mysql-port: 3306
          mysql-database: guacamole_db
          mysql-username: {{ slurmdb_user }}@{{slurmdb_fqdn}}
          mysql-password: {{sqladmin_password.stdout}}
          mysql-server-timezone: GMT
          mysql-auto-create-accounts: true
        owner: root
        group: tomcat
        mode: 0640

    - name: configure guacd.conf
      copy:
        dest: /etc/guacamole/guacd.conf
        content: |
          #
          # guacd configuration file
          #

          [daemon]
          pid_file = /var/run/guacd.pid
          log_level = info

          [server]
          bind_host = 127.0.0.1
          bind_port = 4822

    - name: restart tomcat
      service:
        name: tomcat
        state: restarted

    - name: restart guacd
      service:
        name: guacd
        state: restarted
    when: ( enable_remote_winviz is defined and enable_remote_winviz )

