- hosts: ondemand
  become: true
  vars:
    qmanager: "{{queue_manager | default('openpbs')}}"
  vars_files:
    - '{{global_config_file}}'

  tasks:
    - name: Copy Job templates files
      copy:
        src: 'files/ood_templates/{{qmanager}}/' # inside directories are copied
        dest: '/var/www/ood/apps/sys/myjobs/templates/'

