---
servername: ${ondemand-fqdn}
clusters:
  ondemand:
    v2:
      metadata:
        title: my_cluster
      login:
        host: ondemand
      job:
      batch_connect:
httpd_auth:
- AuthType Basic
- Require valid-user
- AuthUserFile "{{ apache_etc_dir }}/.htpasswd"
