---
- hosts: scheduler
  gather_facts: no
  become: true
  vars_files:
    - '{{global_config_file}}'

  tasks:
  - name: Wait 300 seconds for the nodes to be ready
    wait_for_connection:
      timeout: 300
  - name: Gather facts for first time
    setup:

  - name: Read Password from KV
    command: az keyvault secret show --vault-name {{key_vault}} -n {{admin_user}}-password --query "value" -o tsv
    delegate_to: localhost
    connection: local
    register: password
    become: false

  - include_role: 
      name: pbsserver
      apply: 
        become: true
    vars:
      cc_admin: '{{admin_user}}'
      cc_password: '{{password.stdout}}'
      cc_pbs_version: 1.4.0
    when: (queue_manager == "openpbs" or queue_manager is not defined) # default

  - include_role: 
      name: munge
      apply: 
        become: true
    when: ( queue_manager is defined and queue_manager == "slurm" )

  - include_role: 
      name: slurmserver
      apply: 
        become: true
    vars:
      cc_admin: '{{admin_user}}'
      cc_password: '{{password.stdout}}'
      cc_version: '{{cyclecloud.version | default("8.4.0-3122")}}'
      slurm_version: '{{slurm.slurm_version | default("20.11.9")}}-1'
      accounting_enabled: '{{slurm.accounting_enabled | default(false)}}'
      enroot_scratch_dir: '/mnt/resource'
    when: ( queue_manager is defined and queue_manager == "slurm" )

  - name: update packages for security
    become: true
    yum:
      name: '*'
      state: latest
#      exclude: kernel*,kmod*,amlfs*
