name : container

on:
  # manual only
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'toolset/**'
  pull_request:
    types: [ closed ]
    branches:
      - main
    paths:
      - 'toolset/**'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: 'Login via Azure CLI'
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: 'ACR Login'
      uses: azure/docker-login@v1
      with:
        login-server: azhop.azurecr.io
        username: ${{ secrets.REGISTRY_USERNAME }}
        password: ${{ secrets.REGISTRY_PASSWORD }}

    - name: Build the HPC Rover
      run: |
        ./toolset/build_container.sh github azhop.azurecr.io
